body {
  background: #004070;
  background-size: cover;
  margin: 0;
}

.page {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px auto;
  min-height: 100vh;

  grid-template-areas:
    "h h"
    "m m";
}

.header {
  grid-area: h;
  background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8));
  border-bottom: 2px solid gray;
}

.header ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.main {
  grid-area: m;
  background: rgba(0,0,0,0.8);
  padding: 32px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;

  grid-template-areas:
    "t t"
    "a b"
    "a b";
}

.top_part{
  grid-area: t;
  margin: 5px;
}

.right_part{
  grid-area: b;
  margin: 0px;
}

.left_part{
  grid-area: a;
  margin: 22px;
}
