body {
  background: #004070;
  background-size: cover;
  margin: 0;
}

.page {
  display: grid;
  grid-template-columns: 6.25rem 1fr;
  grid-template-rows: 6.25rem auto;
  min-height: 100vh;

  grid-template-areas:
    "h h"
    "m m";
}

.header {
  grid-area: h;
  background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8));
  border-bottom: 2px solid gray;
}

.header ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2.5rem 1rem;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.main {
  grid-area: m;
  background: rgba(0,0,0,0.8);
  padding: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7rem 1fr;

  grid-template-areas:
  "c c"

}

.cards {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.card {
    display: grid;
    border-radius: 0.5rem;
    border:0.125rem solid white;
    grid-template-rows: max-content 20rem 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.button {
  background-color: white;
  color: black;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
